.nav{
     /* border-bottom: 1px solid black; */
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     box-shadow: 0px 0px 4px gray;
}

.nav>*{
     margin: 0;
}

.nav>h1{
     font-weight: 900;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav>p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: gray;
}