.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(230, 236, 234);
  height: 80px;
}

.footer>p:nth-child(1),p:nth-child(2){
     margin: 0;
}
