.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px 50px 0px;
  gap: 20px;
}

.initial-palyers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form > input {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid gray;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form > button {
  height: 40px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 14px;
  background-color: rgb(22, 22, 23);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form > button:hover {
  background-color: rgb(10, 10, 114);
}

.player {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid rgb(43, 43, 108);
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 15px;
}

.player>h3,h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player > button {
  height: 30px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: blueviolet;
}

.player > button:hover {
  background-color: rgb(97, 31, 160);
}

.player-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
}

.player-details > h2 {
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  font-weight: 900;
  color: rgb(1, 1, 86);
}

.player-details > h3 {
  text-transform: uppercase;
  font-weight: 900;
  color: blue;
}

.other-det {
  padding: 5px;
}
.other-det > * {
  margin-top: 3px;
}

.err-msg {
  height: 70vh;
  margin-top: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
  flex-direction: column;
  align-items: center;
}


.err-msg >p{
  font-size: 13px;
  margin: 0;
}

.err-msg >p:nth-child(1){
  color: rgb(192, 4, 4);
}.err-msg >p:nth-child(2){
  color: rgb(100, 94, 94);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.odi-det {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.odi-det > p:nth-child(odd) {
  background-color: #eee7e7;
  border-radius: 2px;
}

.odi-det > p {
  margin: 0;
  padding: 0px 5px 0px 5px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.cricket-emoji {
  animation: rotate 2s linear infinite;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
